01-flow.json
[
    {
        "id": "dac070dbc279f7fb",
        "type": "http in",
        "z": "b812b7b7b881a76a",
        "name": "",
        "url": "/api/post/shiba",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "a2fe26d12721d716"
            ]
        ]
    },
    {
        "id": "56337bf5c013bd3e",
        "type": "http response",
        "z": "b812b7b7b881a76a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "a2fe26d12721d716",
        "type": "http request",
        "z": "b812b7b7b881a76a",
        "name": "柴犬 API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://shibe.online/api/shibes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "50849fdb07c3cb0b"
            ]
        ]
    },
    {
        "id": "50849fdb07c3cb0b",
        "type": "change",
        "z": "b812b7b7b881a76a",
        "name": "0 番目の URL 取得",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "56337bf5c013bd3e"
            ]
        ]
    }
]
